[Desktop Entry]
Version=1.1
Type=Application
Name=urlopen
Comment=Open Windows Internet Shortcut files
Exec=/usr/local/bin/urlopen %f
MimeType=application/x-mswinurl
Terminal=true
Icon=/usr/share/pixmaps/urlopen_64x64.png
NoDisplay=true